body {
    background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e3a7afe5, #9a98ff, #58c2f3d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: all 0.1s ease ;
}
  .logo {
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    filter: drop-shadow(1px 1px 2px #303031c7);
  }

  .nameOfOrg {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
  }
  .DbCard:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 8px 4px rgba(0, 0, 0, 0.156),
      -5px -5px 8px 0px rgba(0, 0, 0, 0.156);
    background: linear-gradient(to right, #e3a7afe5, #9a98ff, #58c2f3d4);
    transition: all 0.1s ease;
    border: 1px solid rgb(23 83 118) !important;
    cursor: pointer;
  }
  #organisation {
    width: auto;
    height: auto;
    /* background-color: #ffffff; */
    /* border-radius: 5px; */
    /* box-shadow: 0 0 5px rgb(0 0 0 / 10%); */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
  }
  #AppCards {
    display: none;
  }

  .card:hover {
    background-color: aqua;
  }

  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 24px;
    margin-top: 60px;
  }

  .name {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .btn {
    position: absolute;
    bottom: 0;
    /* border-width: 0.1px;
    border-color: rgba(35, 34, 34, 0.788);
    padding: 0px 0px 6px 5px; 
    border-style: solid;*/
    margin-left: 21px;
    border-radius: 3px;
    width: 90px;
    height: 85px;
  }

  .guest-pic {
    height: 21px;
    width: 21px;
    margin-inline: 33px;
    margin-bottom: -26px;
  }
  .guest_span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.905) !important;
    margin-inline: 2px;
  }

  a {
    text-decoration: none;
  }

  .btn:hover {
    border-color: aliceblue;
  }
  .h35 {
    height: 35px;
  }
  .w-ato {
    width: auto;
  }
  .ft {
    font-size: 12px;
    color: red;
  }
  
  .cards-list {
    z-index: 0;
    width: 70%;
    /* height: 120%; */
    display: flex;
    justify-content: normal;
    flex-wrap: wrap;
    gap: 12px 34px;
    margin: 0px auto 40px auto;
  }
  #card {
    margin: 26px 8px;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 4px rgb(0 0 0 / 6%),
      -5px -5px 15px 0px rgb(0 0 0 / 6%);
    cursor: pointer;
    background-color: #fff;
    transition: all 0.1s ease;
  }
  #card .card_image {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #card .card_image img {
    width: 90px;
    height: 90px;
    object-fit: scale-down;
    object-position: center;
    padding: 6px;
  }
  .accountimg {
    height: 65px !important;
    width: 65px !important;
  }
  .expenseimg {
    height: 67px !important;
    width: 67 !important;
  }
  .purchaseimg {
    width: 70px !important;
    height: 70px !important;
  }
  /* .stockimg img{
  height: 80px !important;
    width: 80px !important;
  } */
  .settingsimg {
    height: 80px !important;
    width: 80px !important;
  }
  #card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-size: 14px;
    padding-top: 1px;

    position: relative;
    left: 2px;
    bottom: 11px;
  }
  #card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 5px 5px 8px 4px rgba(0, 0, 0, 0.156),
      -5px -5px 8px 0px rgba(0, 0, 0, 0.156);
  }
  
  .title-white {
    color: rgb(0, 0, 0);
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 800px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  @media all and (min-width: 1000px) {
    #card {
      margin: 30px 46px;
    }
    .cards-list {
      height: 50%;
      margin: 5% 23%;
    }
  }
  