@import "../colors/colors.css";
.table1-div {
  position: relative;
  margin: 10px 10px 10px 0px;
  width: 100%;
  background-color: #f7fcfd;
  padding-bottom: 15px;
  box-shadow: 0 0 10px 0.5px rgb(185, 187, 188);
}
.table1-div span {
  vertical-align: super;
}
.container {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin-left: 8px;
  margin-right: 8px;
}
#wrapper1 {
  padding: 5px 3px 0 10px;
  position: absolute;
  top: 68px;
  left: 0;
  z-index: 2;
  margin-right: 5px;
}
#filter-text-box {
  padding: 10px;
  margin-bottom: 5px;
}
.container1 {
  position: fixed;
  background: var(--actionbar);
  width: 96.5%;
  height: 65px;
  box-sizing: border-box;
  z-index: 100;
  display: block;
}
#sales_return {
  height: 25px;
  width: 25px;
  margin-left: 13px;
}
#Approve_Button{
  height: 23px;
  width: 23px;
  margin-left: 13px;
}
#Reject_Button {
  width: 26px;
  height: 26px;
  margin-left: 13px;
}
#edit_Button {
  height: 25px;
  width: 25px;
}
#print_Button {
  width: 26px;
  height: 26px;
  margin-left: 13px;
}
.custom-element {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}
.custom-element img {
  cursor: pointer;
  filter: saturate(0.87);
}
.custom-element img:hover {
  filter: saturate(2.7);
  transform: scale(1.15);
}
.ag-header {
  background-color: var(--grid-header-color);
  border: none !important;
}
.ag-header-row {
  border: none !important;
}
.ag-header-cell-sortable:hover {
  color: var(--grid-header-hover-text);
}
.ag-paging-button {
  padding: 3px;
}
.ag-paging-button:hover {
  background-color: var(--grid-pagination-button-hover);
  border-radius: 0.8rem;
}
.ag-disabled:hover {
  background-color: inherit;
}
.ag-icon-menu {
  font-size: 17px !important;
  font-style: normal !important;
  font-weight: bolder !important;
}
.ag-icon-menu:hover {
  color: white;
}
.ag-cell[aria-colindex="7"]:focus {
  border: none !important;
}
.ag-cell[aria-colindex="8"]:focus {
  border: none !important;
}
.ag-header-cell-resize::after {
  background-color: #c2b2b2 !important;
}
.ag-root-wrapper {
  border-radius: 6px !important;
}
